<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>products</title>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">


</head>
<body>
<div class="card">
	<div class="container">
	<div class="card-body">
		<form  action="${contextPath}/addP" method="post" enctype="multipart/form-data">
         
			<!-- Name -->
			<div class="form-group">
			<input type="text" name="touchandlcd" id="touchandlcd" class="form-control mb-4"placeholder="touchandlcd">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="touchandlcdImage" id="touchandlcdImage" >
					<label class="custom-file-label"for="customFile">Product Image</label>
					</div>
					</div>
					
			<!-- Name -->
			<div class="form-group">
			<input type="text" name="touchscreenglass" id="touchscreenglass" class="form-control mb-4"placeholder="touchscreenglass">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="touchscreenglassImage" id="touchscreenglassImage" >
					<label class="custom-file-label"for="customFile">touchscreenglass Image</label>
                   </div>
                   </div>
           <!-- Name -->
           <div class="form-group">
			<input type="text" name="battery" id="battery" class="form-control mb-4"placeholder="battery">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="batteryImage" id="batteryImage" >
					<label class="custom-file-label"for="customFile">battery Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="chargeport" id="chargeport" class="form-control mb-4"placeholder="chargeport">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="chargeportImage" id="chargeportImage" >
					<label class="custom-file-label"for="customFile">chargeport Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="loudspeaker" id="loudspeaker" class="form-control mb-4"placeholder="loudspeaker">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="loudspeakerImage" id="loudspeakerImage" >
					<label class="custom-file-label"for="customFile">loudspeaker Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="earspeaker" id="earspeaker" class="form-control mb-4"placeholder="earspeaker">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="earspeakerImage" id="earspeakerImage" >
					<label class="custom-file-label"for="customFile">earspeaker Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="audiojack" id="audiojack" class="form-control mb-4"placeholder="audiojack">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="audiojackImage" id="audiojackImage" >
					<label class="custom-file-label"for="customFile">audiojack Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="microphone" id="microphone" class="form-control mb-4"placeholder="microphone">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="microphoneImage" id="microphoneImage" >
					<label class="custom-file-label"for="customFile">microphone Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="network" id="network" class="form-control mb-4"placeholder="network">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="networkImage" id="networkImage" >
					<label class="custom-file-label"for="customFile">network Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="softwarediagnosis" id="softwarediagnosis" class="form-control mb-4"placeholder="softwarediagnosis">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="softwarediagnosisImage" id="softwarediagnosisImage" >
					<label class="custom-file-label"for="customFile">softwarediagnosis Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="deadphonediagnosis" id="deadphonediagnosis" class="form-control mb-4"placeholder="deadphonediagnosis">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="deadphonediagnosisImage" id="deadphonediagnosisImage" >
					<label class="custom-file-label"for="customFile">deadphonediagnosis Image</label>
					</div>
					</div>
					<!-- Name -->
					<div class="form-group">
			<input type="text" name="waterdiagnosis" id="waterdiagnosis" class="form-control mb-4"placeholder="waterdiagnosis">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="waterdiagnosisImage" id="waterdiagnosisImage" >
					<label class="custom-file-label"for="customFile">waterdiagnosis Image</label>
					</div>
					</div>
							<!-- Name -->
							<div class="form-group">
			<input type="text" name="standbyphone" id="standbyphone" class="form-control mb-4"placeholder="standbyphone">
				<div class="custom-file mb-2">
				<input type="file"  class="custom-file-input" name="standbyphoneImage" id="standbyphoneImage" >
					<label class="custom-file-label"for="customFile">standbyphone Image</label>
					</div>
					</div>
							<!-- Name -->
							<div class="form-group">
			<input type="text" name="brand" id="brand" class="form-control mb-4"placeholder="brand">
				</div>
				<div class="form-group">
				
							<!-- Name -->
			<input type="text" name="modelseries" id="modelseries" class="form-control mb-4"placeholder="modelseries">
				</div>
			<!-- Sign in button -->
			<button class="btn btn-info btn-block" type="submit">add</button>
		</form>
	</div>
	</div>
</div>
<script  src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>